@use "../base/mixins" as mix;
@use "../base/common" as *;

.home {
    &__container {
        margin-top: 40px;

        @include mix.screen(md) {
            margin-top: 30px;
        }
    }

    &__headding {
        @extend .text-bold-24;

        margin-bottom: 20px;
    }
}