$primary-color-red: #F94545;
$primary-color-green: #67B044;
$primary-color-blue: #0071DC;
$primary-color-violet: #7644E1;
$primary-color-yellow: #FFB700;
$primary-color-ocean: #77DAE6;
$secondary-color-1: #1A162E;
$secondary-color-2: #9E9DA8;
$secondary-color-3: #D2D1D6;
$secondary-color-4: #EDEDF6;
$secondary-color-5: #F8F8FB;
$background-color-gray: #D4D4D4;
$background-color-blue-white: #FAFAFD;
$background-color-white: #F8F8FB;
$text-color-dark-1: #171C28;
$text-color-dark-2: #292E39;
$text-color-dark-3: #B9BABE;

$font-weight-bold: 700;
$font-weight-md: 500;
$font-weight-rg: 400;

$font-size-42: 4.2rem;
$font-size-36: 3.6rem;
$font-size-30: 3rem;
$font-size-26: 2.6rem;
$font-size-22: 2.2rem;
$font-size-18: 1.8rem;
$font-size-16: 1.6rem;
$font-size-15: 1.5rem;
$font-size-14: 1.4rem;

$font-family: 'sant-serif';