/* Error: expected "{".
 *    ,
 * 29 | >>>>>>> 0ed7cf08aaf8183c100d16a01ed7e3b1b9b23f5c
 *    |                                                 ^
 *    '
 *   scss\layout\_footer.scss 29:49  @forward
 *   scss\layout\_index.scss 2:1     @use
 *   scss\main.scss 2:1              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 29 \2502  >>>>>>> 0ed7cf08aaf8183c100d16a01ed7e3b1b9b23f5c\d\a    \2502                                                  ^\a    \2575 \a   scss\\layout\\_footer.scss 29:49  @forward\a   scss\\layout\\_index.scss 2:1     @use\a   scss\\main.scss 2:1              root stylesheet';
}
