@use "../base/mixins" as mix;
@use "../base/common" as *;

.footer {
    margin: 100px 100px 50px;

    &__logo {
        @include mix.screen(lg) {
            margin-left: 0 !important;
        }
    }

    &__content {
        @extend .text-rg-16;
        line-height: 1.3;

        padding-right: 50px;
        margin: 30px 0;
        color: var(--footer-text-color);

        @include mix.screen(lg) {
            margin-top: 20px;
        }
    }

    &__title {
        @extend .text-bold-18;
        margin-bottom: 20px;
    }

    &__item {
        @extend .text-rg-16;

        margin-bottom: 15px;

        color: var(--footer-text-color);
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__address {
        width: 50%;
        color: var(--footer-text-color);
    }

    &__copyright {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    &__copyright-text {
        @extend .text-rg-16;
        color: var(--footer-text-color);
    }

    &__social {
        @include mix.screen(lg) {
            padding-bottom: 20px;
        }
    }

    &__col {
        @include mix.screen(sm) {
            padding-bottom: 40px;
        }
        
        &:last-of-type {
            @include mix.screen(sm) {
                padding-bottom: 0;
            }
        }
    }
}

.social {
    &__cover {
        display: flex;
        gap: 20px;
    }

    &__item {
        @include mix.size(32px);
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 8px;
        background: var(--footer-icon-bg);
    }
}
