@use "../base/common" as *;
@use "../base/mixins" as mix;

// Filter button
.filter-btn {
    @extend .text-bold-14;

    display: flex;
    align-items: center;
    gap: 14px;

    height: 36px;
    padding: 0 14px;
    border-radius: 6px;

    background: var(--filter-bg);
    color: var(--filter-btn-color);

    &__icon {
        filter: var(--filter-btn-icon-color);
    }
}

// Like button
.like-btn {
    @include mix.size(50px);
    @include mix.flexCenter();

    border-radius: 50%;
    box-shadow: 0 20px 60px var(--like-btn-shadow);
    background: var(--like-btn-bg);
    
    &__icon {
        filter: var(--like-btn-fill);
    }

    &__icon--liked {
        margin-top: 6px;

    }

    &:not(&--liked) &__icon--liked {
        display: none;
    }

    &--liked &__icon {
        display: none;
    }
}

//Buttons
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @extend .text-md-18;
    height: 46px;
    padding: 0 20px;
    border-radius: 6px;
    line-height: 0;
    background: #F8F8FB;
    -webkit-user-select: none;
    user-select: none;

    + .btn {
        &:not(.btn--no-margin) {
            margin-left: 20px;
        }
    }

    &--text {
        color: #9E9DA8;
        font-weight: 400;
        background: transparent;
    }

    &--primary {
        background: var(--primary-color-yellow);
    }

    &--outline {
        border: 1px solid #d2d1d6;
        background: transparent;
    }

    &--rounded {
        border-radius: 99px;
    }

    &:disabled,
    &--disable {
        opacity: 0.5;
        pointer-events: none;
    }

    &:hover {
        opacity: 0.9;
    }
}