@use "../base/common" as *;
@use "../base/mixins" as mix;

.filter-wrap {
    position: relative;
    z-index: 1;
}

.filter {
    position: absolute;
    right: 0;
    top: 50px;

    padding: 30px;
    border-radius: 20px;

    background: var(--filter-form-bg);
    box-shadow: 0 40px 90px var(--filter-form-shadow);

    &__heading,
    &__form-label {
        @extend .text-md-22;

        color: var(--filter-form-text);
    }

    &__form {
        margin-top: 30px;

        &-label {
            display: block;

            &--small {
                @extend .text-md-14;

                margin-bottom: 10px;
            }
        }

        &-group {
            margin-top: 20px;

            &--inline {
                display: flex;
                gap: 30px;
            }
        }

        &-slider {
            @include mix.size(100%, 2px);
            --min-value: 10%;
            --max-value: 60%;

            position: relative;
            background: #d2d1d6;

            &::before,
            &::after {
                @include mix.size(22px);
                content: "";
                position: absolute;
                top: 50%;
                translate: 0 -50%;

                border-radius: 50%;
                border: 6px solid var(--primary-color-yellow);

                background: var(--filter-form-bg);
            }

            &::before {
                left: var(--min-value);
            }

            &::after {
                left: var(--max-value);
            }
        }

        &-text-input,
        &-select-wrap {
            border-radius: 6px;
            border: 1px solid #d2d1d6;
        }

        &-text-input {
            @include mix.size(334px, 44px);

            display: flex;
            align-items: center;
            padding: 0 16px;

            overflow: hidden;

            &--small {
                width: 121px;
                height: 36px;
                padding: 0 12px;
            }
        }

        &-text-input--small &-input {
            @extend .text-md-14;
        }

        &-input {
            @extend .text-rg-15;
            font-weight: 500;

            width: 100%;

            &::placeholder {
                font-weight: 400;
                color: #9E9DA8;
            }

            color: var(--filter-form-text);
            background: var(--filter-form-bg);
        }

        &-input-icon {
            margin-left: 12px;

            filter: var(--filter-form-fill-icon);
        }

        &-select-wrap {
            display: flex;
            align-items: center;
            padding: 0 14px;
        }

        &-select {
            @extend .text-md-14;

            display: flex;
            align-items: center;
            justify-content: space-between;

            min-width: var(--width, 80px);
            padding: 10px 0;

            cursor: pointer;

            &-arrow {
                filter: var(--filter-form-fill-icon);
            }
        }

        &-select-separate {
            width: 1px;
            height: 100%;
            margin: 0 14px;
            background: #d2d1d6;
        }

        &-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px 20px;
        }

        &-tag {
            @extend .text-md-14;

            padding: 6px 12px;
            border-radius: 6px;

            color: #9E9DA8;
            background: var(--filter-form-tag-bg);

            transition: color 0.2s;

            &:hover {
                color: var(--filter-form-text);
            }
        }
    }
    // End form

    &__row {
        display: flex;
    }

    &__separate {
        width: 1px;
        margin: 0 30px;
        background: #eee;
    }
}
