@use "../base/common" as *;
@use "../base/mixins" as mix;

.filter-wrap {
    position: relative;
    z-index: 1;
}

.filter {
    position: absolute;
    right: 0;
    top: 55px;

    padding: 30px 0;
    border-radius: 20px;

    background: var(--filter-form-bg);
    box-shadow: 0 40px 90px var(--filter-form-shadow);
    transition: opacity, visibility;
    transition-duration: 0.2s;

    @include mix.screen(sm) {
        width: 100vw;
        height: 100vh;
        position: fixed;
        inset: 0;
        border-radius: 0;
    }

    &.hide {
        opacity: 0;
        visibility: hidden;
    }

    &__arrow {
        position: absolute;
        top: -15px;
        right: 31px;
        height: 20.5px;
        filter: var(--filter-form-icon-arrow-up);
    }

    &__heading,
    &__form-label {
        @extend .text-md-22;

        color: var(--filter-form-text);
    }

    &__form {
        margin-top: 30px;

        &-label {
            display: block;

            &--small {
                @extend .text-md-14;

                margin-bottom: 10px;
            }
        }

        &-group {
            margin-top: 20px;

            &--inline {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;
            }
        }

        &-slider {
            @include mix.size(100%, 2px);
            --min-value: 10%;
            --max-value: 60%;

            position: relative;
            background: #d2d1d6;

            &::before,
            &::after {
                @include mix.size(22px);
                content: "";
                position: absolute;
                top: 50%;
                translate: 0 -50%;

                border-radius: 50%;
                border: 6px solid var(--primary-color-yellow);

                background: var(--filter-form-bg);
            }

            &::before {
                left: var(--min-value);
            }

            &::after {
                left: var(--max-value);
            }
        }

        &-text-input,
        &-select-wrap {
            border-radius: 6px;
            border: 1px solid #d2d1d6;
        }

        &-text-input {
            @include mix.size(334px, 44px);

            display: flex;
            align-items: center;
            padding: 0 16px;

            overflow: hidden;

            @include mix.screen(sm) {
                width: 100%;
            }

            &--small {
                width: 121px;
                height: 36px;
                padding: 0 12px;

                @include mix.screen(xl) {
                    width: 100%;
                }
            }
        }

        &-text-input--small &-input {
            @extend .text-md-14;
        }

        &-input {
            @extend .text-rg-15;
            font-weight: 500;

            width: 100%;

            color: var(--filter-form-text);
            background: var(--filter-form-bg);

            &::placeholder {
                font-weight: 400;
                color: #9e9da8;
            }

            @include mix.screen(sm) {
                font-size: 1.6rem;
            }

        }

        &-input-icon {
            margin-left: 12px;

            filter: var(--filter-form-fill-icon);
        }

        &-select-wrap {
            display: flex;
            align-items: center;
            padding: 0 14px;
        }

        &-select {
            @extend .text-md-14;

            display: flex;
            align-items: center;
            justify-content: space-between;

            min-width: var(--width, 80px);
            padding: 10px 0;

            cursor: pointer;

            &-arrow {
                filter: var(--filter-form-fill-icon);
            }

            @include mix.screen(xl) {
                flex: 1;
            }
        }

        &-select-separate {
            width: 1px;
            height: 40px;
            margin: 0 14px;
            background: #d2d1d6;
        }

        &-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px 20px;

            @include mix.screen(sm) {
                gap: 10px 8px;
            }
        }

        &-tag {
            @extend .text-md-14;

            padding: 6px 12px;
            border-radius: 6px;

            color: #9e9da8;
            background: var(--filter-form-tag-bg);

            transition: color 0.2s;

            &:hover {
                color: var(--filter-form-text);
            }
        }
    }
    // End form

    &__row {
        display: flex;
    }

    &__separate {
        width: 1px;
        margin: 0 30px;
        background: #eee;

        @include mix.screen(xl) {
            height: 1px;
            width: 100%;
            margin: 20px 0;
        }
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        margin-top: 32px;

        @include mix.screen(xl) {
            position: sticky;
            bottom: 30px;
            background: var(--filter-form-bg);
        }
    }

    &__cancel,
    &__submit {
        height: 38px;
        padding: 0 10px;

        @include mix.screen(sm) {
            flex: 1;
            height: 42px;
        }
    }

    &__cancel {
        font-size: 1.5rem;
    }

    &__submit {
        font-size: 1.4rem;
        color: var(--filter-form-submit-btn-color);
    }

    &__heading,
    &__content,
    &__footer {
        padding: 0 30px;
    }

    &__content {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
        overscroll-behavior: contain;

        @include mix.screen(xl) {
            flex-direction: column;
        }

        @include mix.screen(sm) {
            max-height: calc(100vh - 230px);
            padding-bottom: 60px;
        }
    }
}
