@use "../base/common" as *;

.form {
    &__group {
        margin-top: 30px;

        &--inline {
            display: flex;
            align-items: center;
        }
    }

    &__text-input {
        display: flex;
        align-items: center;

        height: 50px;
        padding: 0 12px;
        border-radius: 10px;
        border: 1.5px solid var(--auth-form);

        &:focus-within {
            border-color: #77DAE6;
        }
    }

    &__input {
        @extend .text-md-18;
        flex: 1;
        height: 100%;
        border-radius: 10px;
        background: transparent;

        &-icon {
            margin-left: 12px;
        }

        &::placeholder {
            color: var(--auth-form);
        }
    }

    &__pull-right {
        margin-left: auto;
    }

    &__checkbox {
        display: flex;
        align-items: center;
        gap: 10px;

        &-label {
            color: var(--secondary-color-2);
        }
    }
}
