@use "../base/common" as *;

.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }

    &__group {
        margin-top: 30px;

        &--inline {
            display: flex;
            align-items: center;
        }
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: red;
            background: rgba($color: red, $alpha: 0.1);
        }

        .form__error,
        .form__input-icon-error {
            display: block;
        }

        .form__input-icon {
            display: none;
        }
    }

    &__text-input {
        display: flex;
        align-items: center;

        height: 50px;
        padding: 0 12px;
        border-radius: 10px;
        border: 1.5px solid var(--auth-form);

        &:focus-within {
            border-color: #77dae6;
        }
    }

    &__error {
        text-align: left;
        font-size: 1.4rem;
        font-weight: 500;
        margin-top: 10px;
        color: red;
        display: none;
    }

    &__input-icon-error {
        display: none;
        margin-left: 12px;
        animation: horizontal-shaking 0.8s;
    }

    &__input {
        @extend .text-md-18;
        flex: 1;
        height: 100%;
        border-radius: 10px;
        background: transparent;

        &-icon {
            margin-left: 12px;
        }

        &::placeholder {
            color: var(--auth-form);
        }
    }

    &__pull-right {
        margin-left: auto;
    }

    &__checkbox {
        position: relative;

        display: flex;
        align-items: center;
        -webkit-user-select: none;
        user-select: none;

        &-label {
            margin-left: 29px;
            color: var(--auth-form);
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
        }

        &::before {
            width: 19px;
            height: 19px;
            border-radius: 5px;
            border: 1.5px solid var(--secondary-color-2);
        }
    }

    &__checkbox:has(:checked) {
        &::before {
            border-color: var(--primary-color-yellow);
            background: var(--primary-color-yellow);
        }

        &::after {
            width: 15px;
            height: 6px;
            border: 2px solid;
            border-color: transparent transparent #fff #fff;
            rotate: -45deg;
            left: 2px;
            top: 3px;
        }
    }
}
