@use "../base/mixins" as mix;

html {
    --primary-color-red: #f94545;
    --primary-color-green: #67b044;
    --primary-color-blue: #0071dc;
    --primary-color-violet: #7644e1;
    --primary-color-yellow: #ffb700;
    --primary-color-ocean: #77dae6;
    --secondary-color-1: #1a162e;
    --secondary-color-2: #9e9da8;
    --secondary-color-3: #d2d1d6;
    --secondary-color-4: #ededf6;
    --secondary-color-5: #fff;
    --background-color-header: #eee;
    --background-color-body: #f6f6f6;
    --background-color-white: #f8f8fb;
    --text-color-dark-1: #171c28;
    --text-color-dark-2: #292e39;
    --text-color-dark-3: #1a162e;

    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(9%) saturate(4201%) hue-rotate(211deg) brightness(90%) contrast(96%);

    --top-act-gr-shadow: rgba(237, 237, 246, 0.2);

    // Buttons
    --filter-btn-color: #6C6C72;
    --filter-btn-icon-color: brightness(0) saturate(100%) invert(7%) sepia(7%) saturate(7088%) hue-rotate(217deg) brightness(103%) contrast(95%);
    --filter-bg: var(--secondary-color-5);

    --like-btn-bg: var(--secondary-color-5);
    // --like-btn-fill: brightness(0) saturate(100%) invert(8%) sepia(38%) saturate(1030%) hue-rotate(210deg) brightness(93%) contrast(96%);
    --like-btn-shadow: rgba(124, 124, 124, 0.20);
    
    // Dropdown
    --top-act-dropdown-shadow: rgba(200, 200, 200, 0.4);
    --icon-dropdown-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);

    @include mix.screen(lg) {
        --background-color-header: var(--secondary-color-5);
        --background-color-body: #f6f6f6;
        --background-color-header-shadow: rgba(237, 237, 246, 0.2);
    }

    // Responsive navbar
    --background-color-nav: var(--secondary-color-5);
    --icon-navbar-close-color: brightness(0) saturate(100%) invert(9%) sepia(32%) saturate(617%) hue-rotate(184deg) brightness(102%) contrast(96%);
        --sidebar-shadow: rgba(200, 200, 200, 0.40);

    // Category item
    --cate-item-bg: #eee;
    --cate-item-title-color: #000;
    --cate-item-heading-color: var(--secondary-color-1);
    --cate-item-thumb-bg: var(--secondary-color-5);

    @include mix.screen(md) {
        --cate-item-bg: var(--secondary-color-5);
    }

    // Product card
    --product-card-bg: var(--secondary-color-5);
    --product-card-shadow: rgba(237, 237, 246, 0.20);
    --product-card-title: var(--secondary-color-1);

    // Filter form
    --filter-form-bg: var(--secondary-color-5);
    --filter-form-shadow: rgba(200, 200, 200, 0.40);
    --filter-form-text: var(--secondary-color-1);
    --filter-form-tag-bg: #F8F8FB;
    --filter-form-fill-icon: brightness(0) saturate(100%) invert(8%) sepia(21%) saturate(1607%) hue-rotate(210deg) brightness(97%) contrast(97%);
    --filter-form-submit-btn-color: var(--secondary-color-1);
    --filter-form-icon-arrow-up: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(353deg) brightness(106%) contrast(102%);

    // Auth
    --auth-bg-content: #FFF;
    --auth-form: #9e9da8;
}
