:root {
    --font-weight-bold: 700;
    --font-weight-md: 500;
    --font-weight-rg: 400;

    --font-size-42: 4.2rem;
    --font-size-36: 3.6rem;
    --font-size-30: 3rem;
    --font-size-26: 2.6rem;
    --font-size-22: 2.2rem;
    --font-size-18: 1.8rem;
    --font-size-16: 1.6rem;
    --font-size-15: 1.5rem;
    --font-size-14: 1.4rem;

    --font-family: "sant-serif";
}
