<div class="footer__container container">
    <div class="footer__row row row-cols-lg-2 row-cols-sm-1">
        <!-- Column 1 -->
        <div class="col footer__col">
            <!-- Logo -->
            <a href="./" class="logo footer__logo">
                <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
                <h1 class="logo__title">grocerymart</h1>
            </a>
            <!-- Content -->
            <p class="footer__content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium neque reprehenderit iste quod, eaque amet maxime distinctio
                blanditiis asperiores possimus exercitationem tempore ut debitis delectus natus error, laboriosam accusantium sed.
            </p>
            <!-- Social -->
            <div class="footer__social">
                <div class="social__cover">
                    <a href="#!" class="social__item" title="Facebook">
                        <img src="./assets/icons/facebook.svg" alt="" class="social__icon icon">
                    </a>

                    <a href="#!" class="social__item" title="Twitter">
                        <img src="./assets/icons/twitter.svg" alt="" class="social__icon icon">
                    </a>

                    <a href="#!" class="social__item" title="Instagram">
                        <img src="./assets/icons/instagram.svg" alt="" class="social__icon icon">
                    </a>

                    <a href="#!" class="social__item" title="Youtube">
                        <img src="./assets/icons/youtube.svg" alt="" class="social__icon icon">
                    </a>

                    <a href="#!" class="social__item" title="Telegram">
                        <img src="./assets/icons/telegram.svg" alt="" class="social__icon icon">
                    </a>
                </div>
            </div>
        </div>

        <!-- Column 2 -->
        <div class="col footer__col">
            <h2 class="footer__title">Product</h2>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">Theme Design</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Plugin Design</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Wordpress</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Joomia Template</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">HTML Template</a>
                </li>
            </ul>
        </div>

        <!-- Column 3 -->
        <div class="col footer__col">
            <h2 class="footer__title">Useful Link</h2>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">Blog</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Pricing</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Sales</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Tickets</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Certifications</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Customer Service</a>
                </li>
            </ul>
        </div>

        <!-- Column 4 -->
        <div class="col footer__col">
            <h2 class="footer__title">Address</h2>
            <p class="footer__address ">
                <a href="#!" class="text-rg-16">127, Westwood Lane DA15 9PS, Sidcup London, UK</a>
            </p>
            </ul>
        </div>
    </div>

    <div class="footer__copyright">
        <p class="footer__copyright-text">
            All rights reserved by @conceptial 2020
        </p>
    </div>
</div>
